ExpiresActive On
ExpiresDefault A0

# 1 semaine
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
    ExpiresDefault A604800
</FilesMatch>

# 3 heures
<FilesMatch "\.(txt|xml|js|css)$">
    ExpiresDefault A10800
</FilesMatch>
