// Liste des différents background disponibles
$background-list: 
    fate-stay-night-1 
    hatsune-miku-1 hatsune-miku-2 
    no-game-no-life-1 no-game-no-life-2 
    shingeki-no-kyojin-1 shingeki-no-kyojin-2 
    sword-art-online-1 sword-art-online-2
    tokyo-ghoul-1 tokyo-ghoul-2 tokyo-ghoul-3;

@each $background in $background-list {
    html.#{$background} body {
        background-image: url(../img/#{$background}.jpg);
    }
}

body {
    font-family: Roboto, sans-serif;
    background-size: cover;
}

#overlay {
    background: rgba(#000, .7);
    position: fixed;
    z-index: -1;
    left: 0; top: 0; right: 0; bottom: 0;
}

#tiles-container {
    flex: 1;
    text-align: center;
}

.tile {
    box-shadow: 0 4px 10px rgba(#000, .6);
    background: #fff;
    display: inline-block;
    margin: 8px;
    padding-bottom: 8px;
    vertical-align: top;
    text-align: center;
    width: calc(100% - 2 * 8px);
    max-width: 170px;
}

@media screen and (max-width: 600px) {
    body { align-items: initial; }
    .tile { 
        margin-bottom: 0;
        max-width: initial;
        width: calc(50% - 2 * 8px);
    }
}

.tile__header {
    font-weight: 500;
    font-size: 18px;
    padding: 16px;
}

.tile__content {

}

.tile__content a {
    display: block;
    padding: 8px 16px;
    color: rgb(20,20,20);
    text-decoration: none;

    transition: .2s all;
    overflow-x: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: rgba(#000, .2)
    }
}
